@-webkit-keyframes move
{
    from {
        top: 0;
    }
    to {
        top: 20%;
    }
}

@keyframes move
{
    from {
        top: 0;
    }
    to {
        top: 20%;
    }
}

@-webkit-keyframes show
{
    0% {
        display: none;
        opacity: 0;
    }
    75% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes show
{
    0% {
        display: none;
        opacity: 0;
    }
    75% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: calc(16px + 3.0vw);
}

.appearOnEntry{
  opacity: 1;
  -webkit-animation-name: show;
  -webkit-animation-duration: 4s;
}

#ursHeader{
  height: auto;
  width: auto;
  top: 20%;
  position: absolute;
  -webkit-animation-name: move;
  -webkit-animation-duration: 3s;
}

#apply{
  float: right;
  width: 20%;
  position: absolute;
}
