@-webkit-keyframes move
{
    from {
        top: 0;
    }
    to {
        top: 20%;
    }
}

@-webkit-keyframes show
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
  opacity: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 4.0em;
}

.appearOnEntry{
  opacity: 0;
  -webkit-animation-name: show;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 3s;
}

#ursHeader{
  height: auto;
  width: auto;
  top: 20%;
  position: absolute;
  -webkit-animation-name: move;
  -webkit-animation-duration: 3s;
}

#apply{
  opacity: 0;
  float: right;
  width: 20%;
  position: absolute;
}
