@-webkit-keyframes move
{
    from {
        top: 0;
    }
    to {
        top: 15%;
    }
}

@keyframes move
{
    from {
        top: 0;
    }
    to {
        top: 15%;
    }
}

@-webkit-keyframes show
{
    0% {
        display: none;
        opacity: 0;
    }
    75% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes show
{
    0% {
        display: none;
        opacity: 0;
    }
    75% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

html, body, ul {
  padding: 0;
  margin: 0;
  min-width: 1024px;
  position: relative;
  font-family: 'Belleza', sans-serif;
}

h1 {
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: 'Belleza', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: calc(60px + 1vw);
}

.appearOnEntry{
  margin-top: 5%;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 15% 45% 5% 20% 15%;
  grid-template-rows: auto;
  opacity: 1;
  -webkit-animation-name: show;
  -webkit-animation-duration: 4s;
  font-family: 'Belleza', sans-serif;
}

.date::after {
  content: "TBA";
}

.time::after {
  content:"TBA";
}

.location::after {
  content: "TBA";
}

.title {
  grid-column-start: 3;
  grid-column-end: 20;
  font-size: calc(60px + 1vw);
  font-weight: 400;
  grid-row-start: 3;
  grid-row-end: 4;
}

.content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  grid-column-start: 3;
  grid-column-end: 20;
}

.titleDivider {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 21;
  width: 100%;
  margin-bottom: 0;
  top: 0;
  border-color: #888888;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#navigation {
  margin: 0;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;
}

/* Links inside the navbar */
#navigation a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change font color on mouse-over */
#navigation a:hover {
    color: #555f61;
}

.page {
  top: 0;
  margin: 0;
  height: 100%;
  min-height: 700px;
}

#featureDivider {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
    top: 0;
    border-color: #888888;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-animation-duration: 4.5s;
}

#featureDividerVert {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    align-self: center;
    height: 100%;
    width: 100px;
    margin-left: 0;
    border-color: #888888;
    border-left-width: 1px;
    border-left-style: solid;
    -webkit-animation-duration: 4.5s;
}

#home {
  margin-top: -50px;
  position: relative;
  color: black;
}

#homeBackground {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(./alpine_background.jpg);
  background-size: cover;
  z-index: -1;

  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
      .parallax {
          background-attachment: scroll;
      }
  }
}

#ursHeader{
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  top: 15%;
  position: absolute;
  display: grid;
  -webkit-animation-name: move;
  -webkit-animation-duration: 3s;
}

#info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: left;
    line-height: 0.5em;
    font-size: calc(20px + 0.5vw);
    align-self: center;
    justify-self: stretch;
}

#apply {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Belleza', sans-serif;
    font-size: calc(20px + 0.5vw);
    text-align: center;
    align-self: center;
    justify-content: center;
}

#theSymposium {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 40px) auto repeat(10, 40px);
  grid-template-rows: repeat(20, 40px);
  color: black;
  min-height: 1000px;
}

#vertFeatureDividerSymposium {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 16;
  grid-column-end: 16;
  height: 80%;
  width: 100px;
  margin-left: 0;
  border-color: #888888;
  border-left-width: 1px;
  border-left-style: solid;
}

#theSymposiumSponsor {
  display: grid;
  grid-template-columns: 200px 20px 250px auto;
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 12;
}

#logo {
  background-image: url(./nrp_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#theSymposiumDate {
  padding-top: 10px;
  padding-right: 10px;
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 12;
  grid-column-end: 16;
  font-size: 30px;
}

#theSymposiumTime {
  padding-top: 10px;
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 16;
  grid-column-end: 21;
  font-size: 30px;
  text-align: center;
}

#theSymposiumContent {
  grid-row-start: 8;
  grid-row-end: 19;
}

#theSymposiumBackground {
  position: absolute;
  background-color: #FFF056;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.font_8 {
  color: black;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.4em;
  font-family: 'Belleza', sans-serif;
}

#about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 40px) auto repeat(10, 40px);
  grid-template-rows: repeat(20, 40px);
  color: black;
  min-height: 1000px;
}

#aboutContent {
  grid-row-start: 8;
  grid-row-end: 19;
}
